.default-button {
  @apply rounded bg-yellow-300 px-4 py-2 ml-4 text-lg text-gray-800 hover:bg-yellow-400 cursor-pointer;
}

.my-order {
  @apply rounded bg-yellow-300 px-4 py-2 ml-4 text-lg text-gray-800 hover:bg-yellow-400 cursor-pointer;
}
